.greeting {
  margin: 20px;
  height: 200px !important;
  text-align: center;
  background-image: url(/src/components/img/banner.png);
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  color: #4d2e20;
  font-family: roboto;
}

.card-tit {
  font-size: 26px;
}
.card-text {
  font-size: 15px;
}

.btn-tit {
  background-color: #4d2e20;
  border-color: #4d2e20;
  border-radius: 5px;
  color: whitesmoke;
}
