.divCounter {
  display: flex;
  margin: 3px;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.value {
  margin: 5px;
}

.divCounterCart {
  display: flex;
}

.valueCart {
  margin: 0 3px;
}
